<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      Nuevo Post
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="crearPost()"
                  [disabled]="Post.mensaje.length <1 || cargandoGelolializacion"
                  color="primary">
        Compartir
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    
    <ion-item>
      <ion-label position="floating">Mensaje</ion-label>
      <ion-textarea [(ngModel)]="Post.mensaje"></ion-textarea>
    </ion-item>

    <ion-list>
      <ion-item>
        <ion-label>Posición actual</ion-label>
        <ion-spinner *ngIf="cargandoGelolializacion"  name="lines-small"></ion-spinner>
        <ion-toggle [(ngModel)]="Post.posicion"
                (ionChange)="geoLoca()"
                 slot="end"></ion-toggle>
      </ion-item>
    </ion-list>


  </ion-list>

  <ion-row>
    <ion-col size="6">
      <ion-button expand="full"
                  shape="round">
        <ion-icon slot="start" name="camera"></ion-icon>
        Cámara
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="full"
                  shape="round">
        <ion-icon slot="start" name="images"></ion-icon>
        Galería
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="3" *ngFor="let image of tempImages">
      <ion-card>
        <img src="">
      </ion-card>
    </ion-col>
  </ion-row>


</ion-content>
