<ion-header no-border>
  <ion-toolbar>
    
    <ion-button slot="start" >
      <ion-icon slot="icon-only" name="bonfire"></ion-icon>
    </ion-button>

    <ion-title>
       Fotosgram
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color = "light">

  <!-- Refresher -->
  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="recargar($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  </ion-content>



  <!-- Post -->
<app-posts [posts]="posts"></app-posts>

  <!-- infinite scroll-->
<ion-infinite-scroll threshold="100px" (ionInfinite)="siguientes($event)"  [disabled]="!habilitado" >    
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Cargando mas posts...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>




</ion-content>
